/*Some fixes to be done on the animations of the main section*/
/*Services section is not completed yet*/

@import url("https://fonts.googleapis.com/css?family=Catamaran|Liu+Jian+Mao+Cao|Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Dancing+Script|Liu+Jian+Mao+Cao|Pacifico|Source+Code+Pro&display=swap");
:root {
  --primarycolor: white;
  --mainTransition: transition 0.3s ease-in-out;
  --letterspacing: 4px;
  --simpleFont: font-family "Catamaran", sans-serif, "Liu Jian Mao Cao", cursive,
    "Lobster", cursive;
  --StylishFont: font-family "Source Code Pro", monospace "Liu Jian Mao Cao",
    cursive "Pacifico", cursive "Dancing Script", cursive "Amatic SC", cursive;
  --greycolor: #77997f;
}

* {
  margin: 0;
  padding: 0;
}
/*Main section*/

.main {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("mainbcg.jpg") no-repeat;

  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}

/*Navbar*/

.heading {
  padding-top: 18rem;
  margin-top: 0;
  text-transform: capitalize;
  color: rgb(230, 51, 39);
  font-size: 65px;
  margin-bottom: 32px;

  animation: moving-heading 4s ease-in-out;
}

.sub-heading {
  font-size: 23px;
  text-transform: capitalize;
  margin-top: 0;
  color: rgba(6, 255, 12, 1);
  margin: 50px;

  animation: moving-subheading 4s ease-in-out;
}

.main-button {
  background: rgba(12, 255, 12, 0.8);
  padding: 3px;
  padding-left: 4px;
  padding-right: 4px;
  border: 0;
  outline: 0.2rem solid rgba(12, 255, 12, 0.8);
  outline-offset: 6px;
  font-size: 34px;
  color: var(--greycolor);
  text-transform: capitalize;
  transition: var(--mainTransition);
  letter-spacing: 4px;
  animation: bounce-button 4s ease-in-out;
}

.main-button:hover {
  color: var(--primarycolor);
}

/*Animations for main section*/

@keyframes bounce-button {
  0% {
    transform: scale(2);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.5);
  }

  100% {
    tranform: scale(1);
  }
}

@keyframes moving-heading {
  0% {
    transform: translateX(500px);
  }

  50% {
    transform: translateX(-500px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moving-subheading {
  0% {
    transform: translateX(-500px);
  }

  50% {
    transform: translateX(500px);
  }

  100% {
    transform: translateX(0);
  }
}

.gradinent {
  height: 0.5rem;

  background: linear-gradient(
    to left,
    var(--primarycolor),
    var(--greencolor),
    var(--primarycolor),
    rgba(230, 45, 23)
  );
}

/*End of main section*/

/*our services section*/

.service-icon {
  font-size: 3.9rem;
  margin-bottom: 450px;
  margin-top: 500px;
}
.service-item {
  background: var(--greycolor);
  transition: var(--mainTransition);
  min-height: 10rem;
  padding-top: 45px;
}

.services {
  margin: 0 auto;
  text-align: center;
}

.service-paragraph {
  max-width: 450px;
  text-align: center;
  margin: 0 auto;
}
.service-item:hover {
  background: rgba(6, 255, 12, 1);
}

.service:hover .fas {
  transform: scale(2);
}

.service-item:hover .service-heading {
  color: white;
}

.service-item:hover .service-subheading {
  color: var(--greycolor);
}

@media screen and (min-width: 992px) {
  .service-item {
    width: 50%;
    float: left;
  }
}

@media screen and (min-width: 1200px) {
  .service-item {
    width: 25%;
    float: left;
    min-height: 15rem;
  }
}

.service {
  margin-bottom: 45rem;
}

/*End of our services section*/

/*Menu section*/
.menu {
  margin-top: 35rem;
  background: rgba(134, 119, 117, 0.4);
  display: flex;
  justify-content: space-between;
}

.product {
  text-align: center;
  margin-bottom: 53px;
}
.product-img {
  height: 25rem;
}

.description {
  max-width: 25rem;
  margin: 0 auto;
  color: #00c1fc;
  font-size: 35px;
}
@media screen and (min-width: 962px) {
  .product {
    width: 20%;
    float: left;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

/*End of Menu section*/
